* {
  margin: 0;
}

body {
  background-color: #B6C9FF;
}
.Header {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.appStats {
  display: flex;
  justify-content: space-between;
}

.containerLeft {
  flex: 0.9;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

@media (max-width: 990px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

.containerRight{
  display: flex;
  flex-direction: column;
}

.css-46bh2p-MuiCardContent-root:last-child {
  background-color: aliceblue;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
background-color: #f0f8ff;}