* {
  margin: 0;
}

body {
  background-color: rgb(199, 204, 209);
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.appStats {
  display: flex;
  justify-content: space-between;
}

.containerLeft {
  flex: 0.9;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

@media (max-width: 990px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

.containerRight{
  display: flex;
  flex-direction: column;
}